@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=latin-ext');

/* Fonts */
  @font-face {
    font-family: 'u2a736';
    src: url("fonts/u2a736.ttf");
  }
  *, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

/* Blockquote border */
  blockquote {
    border-left: solid 2px #38312f;
  }
  
/* Site title "J" */
  .site-title {
    padding-left: 0.1em;
  }
  
/* Separater after title */
  .excerpt-header:after, .entry-header:after {
    height: 2px;
    width: auto;
  }
  .entry-header:after {
    margin-left: 5.55%;
    margin-right: 5.55%;
  }
  .excerpt-header:after {
    bottom: -0.75em;
    padding-left: 5.55%;
    padding-right: 5.55%;
  }
  
/* "Read the Post" button */
  .more-link {
    border: 2px solid #4d4d4d;
    display: inline-block;
    padding: 0.75em 1.5em;
    margin-top: 1em;
  }
  .more-link:hover, .more-link:active, .more-link:focus {
    border: 2px solid #38312f;
  }
  .more-link:after {
    display: none;
  }
  
/* Turn off author icon */
  .author-meta .author img {
    display: none;
  }
/* Author left padding */
  .author-meta .author {
    padding-left: 1em;
  }
/* Author font */
  .author-meta .author a {
    font-size: 2em;
    letter-spacing: inherit;
  }
  
/* Seperater */
  hr {
    margin: 2em 0;
  }

/* Table overflow */
  table {
    display: inline-block;
    width: 100%;
    overflow: scroll;
  }

/* Site footer */
  .site-footer > h1, .site-description {
    display: none;
  }

/* Design credit */
  .design-credit {
    color: #585858;
    margin-top: 0;
  }